<div class="container">
  <div class="jumbotron">
    <h1>The People's Goals</h1>
  </div>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let goal of publicGoals | async ">
      {{goal.text}}
      <span class="badge">{{goal.pointValue}}</span>
      <span [hidden]="!goal.isComplete">Completed By: {{goal.completedPlayerName}}</span>
      <button class="btn" *ngIf="!goal.isComplete" (click)="setGoalToComplete(goal)">I did it. Give me the points</button>
    </li>
  </ul>
</div> 

<!-- <pre>
 {{publicGoals | async | json}}
</pre> -->
