<div class="container" >
  <div class="jumbotron">
    <h1>Leader Board</h1>
  </div>
  <table class="table">
    <thead>
      <tr>
        <td>Player</td>
        <td>Score<td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of players | async | OrderByDesc:'score'">
        <td>{{player.name}}</td>
        <td>{{player.score}}</td>
        <td><button class="btn btn-primary" (click)="selectedPlayer = player">View</button></td>
      </tr>
    </tbody>
  </table>
   <div *ngIf="selectedPlayer">
    <h2>{{selectedPlayer.name}} <small>{{selectedPlayer.player.tagline}}</small></h2>
     <ul>
      <li *ngFor="let goal of selectedPlayer.getCompletedGoals()">
        {{goal}}
      </li>
    </ul> 
  </div> 
</div>
