<div> {{ (af.auth | async)?.uid }} </div>
<button (click)="login()">Login</button>
<button (click)="logout()">Logout</button>
<br/>
<h1>Angular Router</h1>
<nav>
    <a routerLink="/item" routerLinkActive="active">Crisis Center</a>
    <a routerLink="/items" routerLinkActive="active">Heroes</a>
    <a routerLink="/leaderboard" routerLinkActive="active">Leader Board</a>
    <a routerLink="/publicgoals" routerLinkActive="active">Public Goals</a>
    <a routerLink="/privategoals" routerLinkActive="active">Private Goals</a>
</nav>
<router-outlet></router-outlet>