<!-- <div> {{ (af.auth | async)?.uid }} </div> -->
<nav *ngIf="(af.auth | async)?.uid">
    <ul class="nav nav-pills">
        <li routerLink="/mygoals" routerLinkActive="active">
            <a >My Goals</a>
        </li>
        <li routerLink="/eventpublicgoals" routerLinkActive="active">
            <a>Public Goals</a>
        </li>
        <li routerLink="/leaderboard" routerLinkActive="active">
            <a>Leader Board</a>
        </li>
        <li routerLink="/myprofile" routerLinkActive="active">
            <a>Profile</a>
        </li>
    </ul>    
</nav>
<router-outlet></router-outlet>
<br/>
<div>
    <span *ngIf="showAdmin">
        <a routerLink="/players">Players</a>
        <a routerLink="/publicgoals">Public Goals</a>
        <a routerLink="/privategoals">Private Goals</a>
        <a routerLink="/events">Events</a>
        <a routerLink="/activeevent">Active Event</a>
    </span>
</div>

