<div> {{ (af.auth | async)?.uid }} </div>
<button (click)="login()">Login</button>
<button (click)="logout()">Logout</button>
<br/>
<nav>
    <ul class="nav nav-tabs">
        <li routerLink="/mygoals" routerLinkActive="active">
            <a >My Goals</a>
        </li>
        <li routerLink="/eventpublicgoals" routerLinkActive="active">
            <a>Event Public Goals</a>
        </li>
        <li routerLink="/players" routerLinkActive="active">
            <a >Players</a>
        </li>
        <li routerLink="/publicgoals" routerLinkActive="active">
            <a >Public Goals</a>
        </li>
        <li routerLink="/privategoals" routerLinkActive="active">
            <a>Private Goals</a>
        </li>
        <li routerLink="/events" routerLinkActive="active">
            <a>Events</a>
        </li>
    </ul>    
</nav>
<router-outlet></router-outlet>