<ul>
  <li *ngFor="let privateGoal of privateGoals | async">
    <input class="text-input"  type="text" #updatetext [value]="privateGoal.name" />
    <input class="number-input" type="number" #updateScore [value]="privateGoal.points" />
    <button (click)="updateGoal(privateGoal.$key, updatetext.value, updateScore.value)">Update</button>
    <button (click)="deleteGoal(privateGoal.$key)">Delete</button>
  </li>
</ul>
<input class="text-input" type="text" #newPrivateGoalName />
<input class="number-input" type="number" #newPrivateGoalPoints />
<button (click)="addPrivateGoal(newPrivateGoalName.value, newPrivateGoalPoints.value)">Add</button>