<ul>
  <li *ngFor="let publicGoal of publicGoals | async">
    <input class="text-input" type="text" #updatetext [value]="publicGoal.name" />    
    <input class="number-input" type="number" #updatePoints [value]="publicGoal.points"   />
    <button (click)="updateGoal(publicGoal.$key, updatetext.value, updatePoints.value)">Update</button>
    <button (click)="deleteGoal(publicGoal.$key)">Delete</button>
  </li>
</ul>
<input class="text-input" type="text" #newPublicGoalName />
<input class="number-input" type="number" #newPublicGoalPoints />
<button (click)="addPublicGoal(newPublicGoalName.value, newPublicGoalPoints.value)">Add</button>
